<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internship.billFatoura" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/billfatoura_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="com.internship.billFatoura.MainActivity" >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
        </activity>
        <activity android:name="com.internship.billFatoura.Activity3Pdfs" >

        </activity>

        <activity android:name="com.internship.billFatoura.pdfActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.internship.billFatoura.Activity2Images" >
        </activity>
        <activity android:name="com.internship.billFatoura.PdfToImg" >
        </activity>

</application>

</manifest>
